html
    head
        title 打印配送单
        style.
            table {margin-left: 90px;margin-top: 20px;}
            td {width: 30%;height: 36px}
        body(BGCOLOR='#ffffff',onload='print()',style='width:100%')
            table
                tr
                    td(width='30%')
                    td(width='25%')
                    td(width='45%') 111111111333334554545411111
                tr
                    td &nbsp;
                tr
                    td 太平洋保险
                    td 业务员1
                    td(rowspan="2")
                        p(style="margin-right:25px;") 上海普陀区长寿路137号财富时代大厦3 楼
                tr
                    td 收件人
                    td 400-108-1234
                tr
                    td 10000元
                    td(align="center") 现金
                    td
                        span(style="padding-left:30px;") 2016-07-12 14:25:30
                tr
                    td 油卡油卡油卡
                    td
                    td