.block-center.mt-xl.wd-xl
  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      a(href="javascript:;")
        img.block-center.img-rounded(src='app/img/logo.jpg', alt='Image')
    .panel-body
      p.text-center.pv 找回密码
      form.form-validate(role='form', name="recoverForm", novalidate='')
        p.text-center 填写您的邮箱帐号，根据提示重置您的密码。
        .form-group.has-feedback
          label.text-muted 邮箱
          input.form-control(type='email', name='email', placeholder='请输入邮箱帐号', autocomplete="off", ng-model="recover.email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="recoverForm.email.$dirty && recoverForm.email.$error.required") 邮箱帐号不能为空！
          span.text-danger(ng-show="recoverForm.email.$dirty && recoverForm.email.$error.email") 邮箱帐号格式不正确！
        button.btn.btn-success.btn-block(type='submit') 重置
            
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
